absl-py==0.10.0
atari-py==0.2.6
backcall==0.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.0
cpprb==9.3.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
docker-pycreds==0.4.0
EasyProcess==0.3
fasteners==0.15
future==0.18.2
gitdb==4.0.5
GitPython==3.1.9
glfw==2.0.0
google-auth==1.22.1
google-auth-oauthlib==0.4.1
greenlet==0.4.17
grpcio==1.32.0
gym==0.17.3
idna==2.10
imageio==2.9.0
ipython-genutils==0.2.0
jedi==0.17.2
kiwisolver==1.2.0
Markdown==3.3
matplotlib==3.3.2
monotonic==1.5
msgpack==1.0.0
mujoco-py==2.0.2.13
neovim==0.3.1
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.4.0.44
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
promise==2.3
prompt-toolkit==3.0.7
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.0
Pygments==2.7.1
pynvim==0.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyVirtualDisplay==1.3.2
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rltorch==0.1.1
rsa==4.6
scipy==1.5.2
sentry-sdk==0.18.0
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
subprocess32==3.5.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
--pre torch==1.8.0.dev20201010
-e git+git@github.com:sff1019/rltorch.git@da81282d46e8cf9e0a166364b40e7e884e909020#egg=torchrl
--pre torchvision==0.8.0.dev20201010
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.25.10
wandb==0.10.4
watchdog==0.10.3
wcwidth==0.2.5
Werkzeug==1.0.1
yapf==0.30.0
